.box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 70%;
    max-height: 70%;
    padding: 20px 40px;
  }
  
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-image: url(https://images.pexels.com/photos/1933316/pexels-photo-1933316.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    
    height: 100%;
    width: 10
  }
  .link{
    display: flex;
    
    flex-direction: column;
    padding: 20px;
  }

  .text{
    color: rgb(255, 255, 255);
  }
  h1{
    font-size: 40px;
  }
  .back{
    font-size: 15px;
    align-self: flex-end;
  }
  .back:hover{
    color: red;
  }
  .two{
    font-family: 'Merriweather', serif;
  }

  /*btn*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1d1e22;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn {
    padding: 12px 40px;
    font: 16px/24px Verdana, sans-serif;
    text-decoration: none;
    background: 
      linear-gradient(90deg, 
        #04f5ed, 
        #5c27fe, 
        #c165dd, 
        #04f5ed);
    background-size: 400%;
    display: inline-block;
    color: #fff;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    animation: glowing 8s linear infinite;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    &:after {
      content: " ";
      position: absolute;
      border-radius: inherit;
      left: -6px;
      right: -6px;
      bottom: -6px;
      top: -6px;
      background: inherit;
      background-size: inherit;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.5s ease;
      filter: blur(16px);
      animation: glowing 7s linear infinite;
      transform: translateZ(0);
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  
  @keyframes glowing {
    100% {
      background-position: -400%;
    }
  }

  
  @media all and (max-width: 500px){
   
        .myvideo{
          width: 100%;
          height: 100%;
      }
        body{
            background-color: #221920 ;
        }
        h1{
          font-size: 30px;
        }
        .push{
          font-size: 15px;
  
        }
        
        .container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
        .back{
          color: white;
        }
        }
  
        @media all and (max-width: 800px){
            
                .myvideo{
                  width: 100%;
                  height: 100%;
              }
                h1{
                  font-size: 30px;
                }
                
                
                .container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                }
                .back{
                  color: white;
                  
                }
                }
  